.wrapperTextAndImg {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  .text {
    margin-top: 44px;
    h1 {
      font-family: "Ferry";
      font-style: normal;
      font-weight: 900;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 0.04em;
      max-width: 509px;
    }
    p {
      margin-top: 36px;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.02em;
      max-width: 447px;
    }
  }
  img {
  }
}

@media (max-width: 930px) {
  .wrapperTextAndImg {
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    .text {
      width: max-content;
    }
  }
}

@media (max-width: 590px) {
  .wrapperTextAndImg {
    .text {
      h1 {
        font-size: 28px;
        line-height: 34px;
        max-width: 360px;
      }
      p {
        font-size: 18px;
        line-height: 22px;
        margin-top: 21px;
        max-width: 344px;
      }
    }
    img {
      width: 100%;
    }
  }
}
