.profile {
  display: flex;
  height: 32px;
  gap: 4px;
  .text {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: end;
    .name {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
    }
    .logout {
      border: none;
      background-color: transparent;
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      opacity: 0.4;
      cursor: pointer;
      width: 32px;
    }
  }
  .avatar {
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 900px) and (min-width: 375px) {
  .profile{
    display: none;
  }
}