.header {
  padding: 0px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    cursor: pointer;
  }

  .container {
    display: flex;
    width: 60vw;
    justify-content: space-between;
    align-items: center;

    .navbar {
      display: flex;
      align-items: center;
      .links {
        display: flex;
        list-style: none;
        gap: 50px;
        .link {
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          letter-spacing: 0.01em;
          cursor: pointer;
        }
      }
    }
    .burger {
      display: none;
      width: 30px;
      height: 25px;
      padding: 14px;
      cursor: pointer;
    }
    .auth {
      display: flex;
      gap: 20px;
      align-items: center;
      .registration {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
      }
      .border {
        width: 2px;
        height: 26px;
        background: #029491;
      }
      .login {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        padding: 5px 10px;
        background-color: #7ce3e1;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}

.headerMobile {
  position: absolute;
  top: 0;
  background-color: #029491;
  width: 100%;
  z-index: 10;
  .logoAndClose {
    padding: 0 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      height: 111px;
      cursor: pointer;
    }
    .burger {
      height: 24.75px;
      padding: 14px;
      cursor: pointer;
    }
  }
  .navbar {
    margin: 36px 0 59px;
    .links {
      display: flex;
      flex-direction: column;
      gap: 26px;
      .link {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        display: flex;
        justify-content: center;
        cursor: pointer;
      }
    }
  }
  .auth {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0 40px 77px;
  }
}

@media (max-width: 1050px) and (min-width: 375px) {
  .header {
    padding: 9px 14px;
    img {
      width: 111px;
    }

    .container {
      display: flex;
      width: 60vw;
      justify-content: space-between;
      align-items: center;

      .navbar {
        display: none;
      }
      .burger {
        display: block;
      }
      .auth {
        display: none;
      }
    }
    .noAuth {
      justify-content: end !important;
    }
  }
}

@media (max-width: 374px) {
  .header {
    padding: 9px 14px;
    img {
      width: 111px;
    }

    .container {
      display: flex;
      width: 60vw;
      justify-content: space-between;
      align-items: center;

      .navbar {
        display: none;
      }
      .burger {
        display: block;
      }
      .auth {
        display: none;
      }
    }
    .noAuth {
      justify-content: end !important;
    }
  }
}
