.tarif {
  min-width: 30%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-sizing: border-box;
  .header {
    height: 132px;
    position: relative;
    border-radius: 10px 10px 0px 0px;
    padding-left: 30px;
    .h4 {
      position: relative;
      font-weight: 500;
      font-size: 30px;
      line-height: 36px;
      padding-top: 30px;
      z-index: 2;
    }
    .p {
      position: relative;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      z-index: 2;
    }

    .white {
      color: #ffff;
    }

    .img {
      position: absolute;
      top: 11px;
      right: 15px;
      z-index: 0;
    }
  }
  .beginner {
    background-color: #ffb64f;
  }
  .pro {
    background-color: #7ce3e1;
  }
  .business {
    background-color: #000000;
  }

  .main {
    padding: 12px 30px 24px;
    border-radius: 0px 0px 10px 10px;
    .currentTarifText {
      display: flex;
      justify-content: flex-end;
      margin-right: -20px;
      height: 23px;
      .text {
        padding: 3px 13px;
        background-color: #3ba5e0;
        border-radius: 10px;
        color: #ffffff;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
      }
    }
    .price {
      display: flex;
      gap: 19px;
      .discountPrice {
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;
      }
      .fullPrice {
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        text-decoration-line: line-through;
        color: #000000;
        opacity: 0.5;
      }
    }
    .credit {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.01em;
      margin-top: 10px;
      height: 44px;
    }

    .service {
      margin-top: 59px;
      .h5 {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
      }
      .services {
        margin-top: 11px;
        display: flex;
        flex-direction: column;
        height: 137px;
        gap: 7px;
        .servicesItem {
          display: flex;
          align-items: center;
          gap: 7px;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
        }
      }
    }
    button {
      margin-top: 55px;
    }
  }
  .currentTarifBeginner {
    border-left: 2px solid #ffb64f;
    border-right: 2px solid #ffb64f;
    border-bottom: 2px solid #ffb64f;
  }

  .currentTarifPro {
    border-left: 2px solid #7ce3e1;
    border-right: 2px solid #7ce3e1;
    border-bottom: 2px solid #7ce3e1;
  }

  .currentTarifBusiness {
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
  }
}

@media (max-width: 1200px) {
  .tarif {
    .main {
      .service {
        margin-top: 37px;
        .services{
          height: max-content;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .tarif {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .tarif {
    width: 100%;
    min-width: auto;
    .header {
      padding: 0 24px;
      .h4 {
        font-size: 20px;
        line-height: 24px;
      }
      .p {
        font-size: 18px;
        line-height: 22px;
        margin-top: 22px;
      }
      .img {
        width: 59px;
        height: 53px;
      }
    }
    .main {
      padding: 0 24px 33px;
      .currentTarifText {
        display: none;
      }
      .price {
        margin-top: 20px;
      }
      .service {
        
        .h5 {
          font-size: 18px;
          line-height: 22px;
        }
        .services {
          
          .servicesItem {
            font-size: 16px;
            line-height: 19px;
          }
        }
      }
    }
  }
}
