.footer {
  background-color: #029491;
  padding: 25px 45px;
  display: flex;
  justify-content: space-between;
  flex: 0 0 auto;
  width: calc(100% - 90px);
  img{
    height: 87px;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: end;
    .infoItem {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
    }
    .copyright{
        padding-top: 21px;
    }
  }
}


@media (max-width: 400px) {
  .footer{
    padding: 25px 19px;
    width: calc(100% - 38px);
  }
}